:root {
  /* Color palette */
  /* crimson sky */
  --main: #CF6766;
  
  --dark_main: #CA6665;
  
  /* indigo */
  --secondary: #30415D;
  
  /* ultramarine */
  --text: #031424;
  
  /* light blue */
  --highlight: #8EAEBD;
  
  /* background gray */
  --background: #E8E8E8;
  
  
   /* Other variables */
  --header_height: 7vh;
  --iconbox_size: 4vh;
  --iconbox_inner_size: 3.05vh;
  --border_size: 0.2vw;
  --font_size:  calc(4vw / 3);
  
}

/* General stuff */
body {
	font-family: 'Roboto Mono', monospace; 
	font-weight:normal;
	font-size: var(--font_size);
	background-color: var(--background);
	top: 0;
    left: 0;
}

/* Header Content */
header {
	justify-content: left;
    display: flex nowrap ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header_height);
    line-height: var(--header_height);
	background-color: var(--main);
	z-index: 100;
}

header * {
	
    display: inline;
    height: var(--header_height);
	text-decoration: none;
	color: var(--text);
}

header ul {
	
	margin-left: 7vw;
	height: var(--header_height);
	 
}

.homeButton {

	display: none;
	
}

.menuToggle {

	display: none;

}

/* Header menu buttons */
#menus li a {
	
	text-align: center center;
	padding: 0px 0.5vw calc((var(--header_height)/2) - var(--font_size)) 0.5vw; 
	
    margin-right: 10px;
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--main); 
	transition: border-bottom 300ms, background-color 300ms; 

}

#menus li a:hover {
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--text);
	transition: border-bottom 300ms, background-color 300ms; 

}

#menus li a.active {
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--text);
	transition: border-bottom 300ms, background-color 300ms; 
	
}

/* External icons */
#contact {
	
	position:relative;
	left: 75vw;	
	
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	width: 15vw;
	
	align-items: center; 
	text-align: center;
}

.iconBox {
	
	display: flex;
	justify-content: center; 
	align-items: center; 
	text-align: center;
	
	height: var(--iconbox_size);
	width:	var(--iconbox_size);			
	
	background-color:var(--main);
	border: var(--border_size) solid var(--text);
	position: relative;
	
	top: calc(var(--header_height) * -1);
	
	transition: border 200ms, background-color 200ms;
	
	overflow:hidden;
}

.iconBox:hover {
		
	background-color:var(--text);
	border:var(--border_size) solid var(--text);
	position: relative;
	
}

.iconImg {
	
	position:absolute;
	
	right: 12%;
	bottom: 12%;
	
	width: var(--iconbox_inner_size);
	height: var(--iconbox_inner_size);
	
	
}

.iconBox:hover .iconImgHover {
		
	opacity: 0;
}


/* Other Stuff */
.aButton {
	
	background-color: #CF6766;
	border-radius: 2px;
	border: 3px solid #30415D;
	padding: 8px 18px;
	font-size: 22px;
	
	text-decoration: none;
	color: #30415D;
	
	transition: background-color 100ms, color 100ms;
}

.aButton:hover {
	
	background-color: #30415D;
	color: #CF6766;
}

/* Portfolio page specific stuff */

h3 {
	font-size: 40px;
	color: #031424;
	position:relative;
}
		
	
#choices {
	display: flex;
	flex-direction: column;
	
}
		
.Columns {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
	column-count: 3;
	column-gap: 1vw;
	padding-right: 100px;
	padding-left: 100px;
}
		
				
.sides{	
		
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	text-align: center;
	
	height: 99.99%;
	width: 99.99%;
	
	background-size: auto 100%;
	background-position: center center; 
	background-repeat: no-repeat; 			
	
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 6px solid white;
	border-radius: 7px;
	
	position: static;
	
}

.GradientBorders {
	
	display: flex;
	flex-direction: column;
	justify-content: bottom; 
	align-items: center; 
	text-align: bottom;
	
	
	height: 80vh;
	width: 30vw;
	padding: 1vw;

	background-position: center center; 
	background-repeat: no-repeat; 		
	background: linear-gradient(to top, #30415D 1%, #CF6766 99%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat; /* this is important */
	
	border: 6px solid white;
	border-radius:9px;	
	
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
	position: static;
}

.sides h3 {
	
	position: absolute;
	top: 500px;
	
}

.sides p {
	
	width: 20vw;
	position: absolute;
	top: 1100px;
	
}

.sides .aButton {

	position: relative;
	top: 100px;

}
