:root {
	
  /* Color palette */
	
  /* crimson sky */
  --main: #CF6766;
  
  --dark_main: #CA6665;
  
  /* indigo */
  --secondary: #30415D;
  
  /* ultramarine */
  --text: #031424;
  
  /* light blue */
  --highlight: #8EAEBD;
  
  /* background gray */
  --background: #E8E8E8;
  
  --header_height: 7vh;
  
  --iconbox_size: 4vh;
  --iconbox_inner_size: 3.05vh;
  
  --border_size: 0.2vw;
  
  --font_size:  calc(4vw / 3);

  --fancy_button_padding: 3vh;
  --fancy_button_expansion: 5.5vh;
  --fancy_button_line_distance: 1vh;
  
}

/* General stuff */
body {

	display: flex;
	font-family: 'Roboto Mono', monospace; 
	font-weight:normal;
	font-size: var(--font_size);
	background-color: var(--background);
	top: 0;
    left: 0;

}


/* Header Content */
header {

	justify-content: left;
    display: flex nowrap ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header_height);
    line-height: var(--header_height);
	background-color: var(--main);
	z-index: 100;

}

header * {
	
    display: inline;
    height: var(--header_height);
	text-decoration: none;
	color: var(--text);
}

header ul {
	
	margin-left: 7vw;
	height: var(--header_height);
	 
}

.home-button {

	display: none;
	
}

.menu-toggle {

	display: none;

}

/* Header menu buttons */
#Menus li a {
	
	text-align: center center;
	padding: 0px 0.5vw calc((var(--header_height)/2) - var(--font_size)) 0.5vw; 
	
    margin-right: 10px;
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--main); 
	transition: border-bottom 300ms, background-color 300ms; 

}

#Menus li a:hover {
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--text);
	transition: border-bottom 300ms, background-color 300ms; 

}

#Menus li a.active {
	background-color: var(--main);
	border-bottom: var(--border_size) solid var(--text);
	transition: border-bottom 300ms, background-color 300ms; 
	
}


/* External icons */
#Contact {
	
	position:relative;
	left: 75vw;	
	
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	width: 15vw;
	
	align-items: center; 
	text-align: center;
}

.icon-box {
	
	display: flex;
	justify-content: center; 
	align-items: center; 
	text-align: center;
	
	height: var(--iconbox_size);
	width:	var(--iconbox_size);			
	
	background-color:var(--main);
	border: var(--border_size) solid var(--text);
	position: relative;
	
	top: calc(var(--header_height) * -1);
	
	transition: border 200ms, background-color 200ms;
	
	overflow:hidden;
}

.icon-box:hover {
		
	background-color:var(--text);
	border: var(--border_size) solid var(--text);
	position: relative;
	
}

.icon-img {
	
	position:absolute;
	
	right: 12%;
	bottom: 12%;
	
	width: var(--iconbox_inner_size);
	height: var(--iconbox_inner_size);
	
	
}

.icon-box:hover .icon-img-hover {
		
	opacity: 0;
}


/* Other Stuff */

/* Fancy Button */
.fancy-button {
	
	position: relative;
	
	background-color: transparent;
	border-radius: 2px;
	border: 3px solid var(--secondary);
	padding: var(--fancy_button_padding);
	
	
	font-size: 22px;
	text-decoration: none;
	color: #30415D;
	z-index: 1;
	
	transition: all 300ms ease-in-out;
}

.fancy-button:hover {
	
	padding: var(--fancy_button_expansion);
	transition: all 300ms ease-in-out;
}


.button-container {
	position: relative;
	
	padding-top: 1vh;
	padding-bottom: 1vh;

	padding-right: var(--fancy_button_line_distance);
	padding-left: var(--fancy_button_line_distance);
	
	overflow:hidden;
	width: auto;
	height: calc(auto + 30%);

	border-left: 3px solid var(--background);
	border-right: 3px solid var(--background);

	transition: all 100ms ease-in-out;

}

.button-container.button-container:hover{
	
	border-color: var(--secondary);
	transition: all 100ms ease-in-out;
	
}


/* Sections */
section {
	
    height: 100vh;
	width: 100vw;
    border-bottom: 4px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	flex-direction: column;
	background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.sides {

	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: row;

	padding-top: 10vh;
}

.right-side {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 100%;
	width: 50%;
	padding-left: 5vw;
	
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	/* border-right: 1px solid grey; */
	width:50%;
	padding-left: 5vw;
}

#Intro {

    display: flex;
	
	flex-direction: column;
	justify-content: center;
	align-items: start; 
	text-align: center;
	
	column-gap: 1%;
	
	padding-top: 10vh;
	
	height: 90vh;
	border-bottom: 4px solid var(--background);
	
}

h1 {
	
	font-size: 60px;
}

* {
	margin: 0px;
}

.intro-video {

	border: solid var(--border_size) var(--secondary);
	height: 50%; 
	width:	70%;

}

.intro-image {

	height: 20%;
	width: auto;

}

.quick-info {

	display: flex;
	flex-direction: row;

	width: 40vw;

	border-top: solid var(--border_size) var(--secondary);
	padding-top: 2%;

	border-bottom: solid var(--border_size) var(--secondary);
	padding-bottom: 2vh;

	padding-left: 3vw;
	padding-right: 3vw;

	margin-top: 5vh;
	margin-bottom: 2vh;

}

.info-node {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width:40%;
	justify-content: start;
    align-items: center;
    text-align: center;

	font-size: 2.5vh;
}

.info-node p:first-child {

	color: var(--main);
	padding-bottom: 2vh;
	font-size: var(--font_size);
}

.short-description {
	width: 70%;

	font-size: calc(var(--font_size) /1.2);

	padding-top: 3vh;
	padding-bottom: 3vh;

	text-align: left;
}
